{% for template, initial_trigger in [
    ('{question1} [P] [T] {question2}', [',']),
    ('{question1} [T] {question2} [T] [P] [T] [T]', ['Ġand', 'Ġhave', 'Ġmeanings', '.'])
] -%}
{% set template_idx = loop.index %}
{% for pet in [True, False] -%}
{% for label_map in [
    '{"0": "No", "1": "Yes"}',
    '{"0": "similar", "1": "different"}'
] -%}
{% set label_idx = loop.index %}
{% for lr in [1e-5, 2e-5, 5e-5] -%}
{% for accumulation_steps in [1, 2, 4] -%}
{% for finetune_mode in ['trigger', 'partial', 'all'] -%}
---
out: qqp-cinf_model_roberta-large_template_{{template_idx}}_initial-trigger_{{pet}}_label-map_{{label_idx}}_lr_{{lr}}_accumulation-steps_{{accumulation_steps}}_finetune-mode_{{finetune_mode}}
script: autoprompt/continuous_trigger_mlm.py
args:
    - '--model-name'
    - 'roberta-large'
    - '--train'
    - 'data/LittleGLUE/QQP/train.jsonl'
    - '--dev'
    - 'data/LittleGLUE/QQP/dev.jsonl'
    - '--test'
    - 'data/LittleGLUE/QQP/dev_all.jsonl'
    - '--ckpt-dir'
    - 'ckpt/qqp-cinf_model_roberta-large_template_{{template_idx}}_initial-trigger_{{pet}}_label-map_{{label_idx}}_lr_{{lr}}_accumulation-steps_{{accumulation_steps}}_finetune-mode_{{finetune_mode}}'
    - '--evaluation-strategy'
    - 'classification'
    - '--finetune-mode'
    - '{{finetune_mode}}'
    - '--template'
    - '{{template}}'
    - '--label-map'
    - '{{label_map}}'
    - '--epochs'
    - '30'
    - '--bsz'
    - '2'
    - '--clip'
    - '1.0'
    - '--accumulation-steps'
    - '{{accumulation_steps}}'
    - '--lr'
    - '{{lr}}'
{% if pet %}
    - '--initial-trigger' 
{% for token in initial_trigger %}
    - '{{token}}'
{% endfor %}
{% endif %}
    - '--quiet'
    - '--tmp'
    - '-f'
...
{% endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{# ================================ #}
{% for template, initial_trigger in [
    ('{question1} [P] [T] {question2}', [',']),
    ('{question1} [T] {question2} [T] [P] [T] [T] [T]', ['Ġand', 'Ġhave', 'Ġmeaning', 's', '.'])
] -%}
{% set template_idx = loop.index %}
{% for pet in [True, False] -%}
{% for label_map in [
    '{"0": "No", "1": "Yes"}',
    '{"0": "similar", "1": "different"}'
] -%}
{% set label_idx = loop.index %}
{% for lr in [1e-5, 2e-5, 5e-5] -%}
{% for accumulation_steps in [1, 2, 4] -%}
{% for finetune_mode in ['trigger', 'partial', 'all'] -%}
---
out: qqp-cinf_model_albert-xxlarge-v2_template_{{template_idx}}_initial-trigger_{{pet}}_label-map_{{label_idx}}_lr_{{lr}}_accumulation-steps_{{accumulation_steps}}_finetune-mode_{{finetune_mode}}
script: autoprompt/continuous_trigger_mlm.py
args:
    - '--model-name'
    - 'albert-xxlarge-v2'
    - '--train'
    - 'data/LittleGLUE/QQP/train.jsonl'
    - '--dev'
    - 'data/LittleGLUE/QQP/dev.jsonl'
    - '--test'
    - 'data/LittleGLUE/QQP/dev_all.jsonl'
    - '--ckpt-dir'
    - 'ckpt/qqp-cinf_model_albert-xxlarge-v2_template_{{template_idx}}_initial-trigger_{{pet}}_label-map_{{label_idx}}_lr_{{lr}}_accumulation-steps_{{accumulation_steps}}_finetune-mode_{{finetune_mode}}'
    - '--evaluation-strategy'
    - 'classification'
    - '--finetune-mode'
    - '{{finetune_mode}}'
    - '--template'
    - '{{template}}'
    - '--label-map'
    - '{{label_map}}'
    - '--epochs'
    - '30'
    - '--bsz'
    - '2'
    - '--clip'
    - '1.0'
    - '--accumulation-steps'
    - '{{accumulation_steps}}'
    - '--lr'
    - '{{lr}}'
{% if pet %}
    - '--initial-trigger' 
{% for token in initial_trigger %}
    - '{{token}}'
{% endfor %}
{% endif %}
    - '--quiet'
    - '--tmp'
    - '-f'
...
{% endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
