{% for task_name, field_a, field_b, num_labels in [
    ("BoolQ", "passage", "question", 2),
    ("CB", "premise", "hypothesis", 3),
    ("RTE", "premise", "hypothesis", 2),
] -%}
{% for seed in [1, 420, 808, 1234, 1337] -%}
{% for limit in [10, 50, 100, 1000] -%}
---
out: <model>bert-large-cased_<task>{{task_name}}_<seed>{{seed}}_<limit>{{limit}}
script: autoprompt/finetune.py
args:
    - '--model-name=bert-base-cased'
    - '--train=data/SuperGLUE/{{task_name}}/train.jsonl'
    - '--dev=data/SuperGLUE/{{task_name}}/val.jsonl'
    - '--test=data/SuperGLUE/{{task_name}}/val.jsonl'
    - '--field-a={{field_a}}'
    - '--field-b={{field_b}}'
    - '--num-labels={{num_labels}}'
    - '--bsz=16'
    - '--epochs=20'
    - '--lr=2e-5'
    - '--limit={{limit}}'
    - '--seed={{seed}}'
    - '--bias-correction'
    - '--ckpt=ckpt/<model>bert-large-cased_<task>{{task_name}}_<seed>{{seed}}_<limit>{{limit}}'
...
{% endfor %}
{%- endfor %}
{%- endfor %}
